.question_container {
  display: flex;
}

.question_number_container {
  text-align: center;
  background-color: var(--brand-color-1);
  width: 60px;
}

.selected {
  color: white;
  background-color: var(--brand-color-2);
}


.choice_container {
  display: flex;
  cursor: pointer;
  user-select: none;
}