.question_container {
  display: flex;
  animation: fadein 0.5s ease-in-out forwards;
  width: 1000px;
  opacity: 0;
}

.maxChoices {
  font-size: 10px;
}

.question_number_container {
  text-align: center;
  background-color: var(--brand-color-3);
  color: white;
  width: 60px;
}

.question_h3 {
  color: white;
  padding: 20px;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--brand-color-2);
}

.selected {
  color: white;
  background-color: var(--brand-color-2);
}

.choice_container {
  display: flex;
  cursor: pointer;
  user-select: none;

  opacity: 0;
  animation: fadein 0.5s ease-in-out forwards 0.3s;
}

.choice_container:hover {
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

.choice_image {
  width: 200px;
}

.li_text {
  margin-left: 0px;
  width: 500px;
}

.div_image {
}

.choice_container {
  width: 500px;
}

.choice_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
}
