.alterText {
}

.title {
}

.text {
}

.list {
}

.statsContainer {
  height: 100%;
}

.estilo_negrito {
  font-weight: 700;
}

a {
  border: none;
  padding: 10px;
  padding-left: 55px;
  padding-right: 55px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  cursor: pointer;
  background-color: #b6644b;
  color: white;
  text-decoration: none;
  /* margin-left: 5px; */
}

#twitter {
  background-color: #00acee;
  text-align: center;
}

#whatsapp {
  background-color: #25D366;
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
  
}