@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap");
@font-face {
  font-family: bebas;
  src: url(../public//font/Bebas-Regular.ttf);
}
body {
  margin: 0;
    font-family: bebas;
   /* font-family: "Cinzel", serif;  */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App,
#root > div,
#app,
#app > div {
  height: 100%;
}
